<!DOCTYPE html>
<html lang = "en">
<head>
	<title>Home | Car Compare</title>
</head>
<body>
	<form style="text-align:center" method="POST">
		Current location: <br>
		<input type = "text" name= "start" value = "">
		<br><br>
		Destination: <br>
		<input type = "text" name="end" value = "">
		<br>
		<input type = "submit" value = "Compare">
	</form>
	{% if price_estimate %}
		{% for i in range(0, price_estimate|length - 1) %}
			{% for item in price_estimate[i] %}
				{% if item == 'localized_display_name' or item == 'estimate' %}
					{{ price_estimate[i][item] }}<br>
				{% endif %}
			{% endfor %}
			<br><br>
		{% endfor %}
	{% endif %}
</body>
</html>
